{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}   <!---Loads some external css for formatting our form.--->
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {% csrf_token %}
            <!-- Cross Site Reference Forgery token, protects the form from certain external attacks. Its just some added security provided by
            django. However, it is necessary to include it within <form> tag, otherwise our form will not work. -->
            <fieldset class="form-group">
                <legend class="border-bottom mp-4">Log In</legend>
                {{ form|crispy }}        <!---Apply all the CSS from crispy package.--->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a href="{% url 'register' %}" class="ml-2">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}