{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}   <!---Loads some css formatting for our form.--->
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {% csrf_token %}
            <!-- Cross Site Reference Forgery token, protects the form from certain external attacks. Its just some added security provided by
            django. However, it is necessary to include it within <form> tag, otherwise our form will not work. -->
            <fieldset class="form-group">
                <legend class="border-bottom mp-4">Blog Post</legend>
                {{ form }}        <!---Apply all the CSS from crispy package.--->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}